* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: orange;
    font-family: monospace;
}

.random-quote .container {
    background-color: white;
    width: 70%;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
    border: 2px solid black;
}

.submit {
    padding: 10px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    background: orange;
    outline: none;
    color: white;
    cursor: pointer;
    border: none;
}

.random-quote .container p {
    font-size: 2em;
    text-align: center;
    font-weight: bolder;
    margin: 25px;
    background-color: white;
    color: black;
}

#random-quote {
    font-weight: bolder;
    text-align: center;
    font-size: 2em;
    height: 170px;
    background-color: white;
    color: orange;
}

.buttons {
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.buttons-links {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-left: 20px;
    width: 100px;
    justify-content: space-between;
    background-color: white;
}

.buttons-links button {
    margin: 14px;
    padding: 7px;
    cursor: pointer;
}

.buttons-links button i {
    background-color: orange;
    color: white;
    margin-left: 10px;
    font-size: 1.3em;
    width: 20px;
}